.git
__pycache__
*.csv
*.psd
*.txt
*.db
Steam_icon_logo.svg.png
SAM+ Logo.png
achievements.png
play.png
pause.png
visible.png
not-visible.png
settings.png
home.png
news.png
sam+.py
test.py
SteamAchievementManager-master.zip
Sun-Valley-ttk-theme-2.6.0