.git
__pycache__
*.csv
*.psd
*.txt
*.db
Steam_icon_logo.svg.png
SAM+ Logo.png
achievements.png
play.png
pause.png
settings.png
pin.png
home.png
news.png
keyword.png
unpin.png
SAM+.code-workspace
sam+.py
test.py
SteamAchievementManager-master.zip
Sun-Valley-ttk-theme-2.6.0
Auto-py-to-exe-config.json
Releases