.git
__pycache__
*.csv
*.psd
*.txt
Steam_icon_logo.svg.png
SAM+ Logo.png
trophy.png
play.png
pause.png
eye.png
star.png
sam+.py
test.py
SteamAchievementManager-master.zip
Sun-Valley-ttk-theme-2.6.0